azul = #22BCE0
gris_oscuro = #444
gris_texto = #7A7A7A
naranja = #DD4f24

@font-face {
	font-family: 'iconitos';
	src:url('../fonts/icomoon.eot?xdja39');
	src:url('../fonts/icomoon.eot?#iefixxdja39') format('embedded-opentype'),
		url('../fonts/icomoon.woff?xdja39') format('woff'),
		url('../fonts/icomoon.ttf?xdja39') format('truetype'),
		url('../fonts/icomoon.svg?xdja39#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

a
	color naranja

body 
	background #E8E8E8
	color gris_oscuro
	font-family Arial
	font-size 16px

footer
	background naranja
	color rgba(white, 0.5)
	text-align center
	padding 1em 0
	width 100%
	
	h3
		font-size 14px
		font-weight normal

		strong
			display block

		.mejor
			&:before
			&:after
				content " - "
	

header
	background gris_oscuro
	box-shadow 0 5px 0 rgba(0,0,0,0.2)
	color white 
	overflow hidden
	padding 0.5em
	position relative 
	z-index 1

	.logo 
		border-right 1px solid azul
		float left
		width 60px
	
		img 
			width 52px

	.titular 
		margin 0 60px 0 70px

		.filtro
			color azul
			font-size 14px
			font-weight bold
			font-style italic
			text-decoration none

		.publicar
			background naranja
			color white
			font-style italic
			float right
			margin -5px 1em 0 0
			padding 0.2em 0.5em
			text-decoration none
			text-shadow 1px 1px 0px black

			&:before
				display inline-block
				font-family "iconitos"
				content "\e600"
				margin 0 3px 0 0 

		.titulo
			font-size 18px
			font-weight normal
			margin 0
			padding 0
	
	.usuario
		position absolute
		right 10px 
		top 10px

		.avatar
			margin 0 1.1em 0 0 
			position relative
			z-index 2
			img
				border-radius 50%
				width 50px

		.flechita
			background naranja
			color white
			display block
			padding 2px
			position absolute
			right 0
			top 15px
			text-align right
			width 50%
			text-decoration none

			&:after
				display inline-block
				content "\e602"
				font-family "iconitos"
				color white
				text-shadow 1px 1px 0px black



nav
	background azul
	border-left 15px solid white
	position relative

nav:before
		border-bottom 20px solid transparent
		border-left 7px solid white
		border-top 20px solid transparent
		content ""
		position absolute
		top 0
		left 0

	.menu
		height 40px
		line-height 40px
		margin 0
		padding 0
		overflow-x auto
		text-align left
		white-space nowrap

		li
			display inline-block

			a	
				color white
				display block
				margin 0 0.5em
				padding 0 0.2em
				text-decoration none

			a:before
				content " - "

.posts
	padding 0.5em

	.post
		background white
		border-radius 0 0 0.5em 0.5em
		color gris_texto
		box-shadow 2px 2px 10px rgba(black, 0.5)
		margin-bottom 0.5em

	.acciones
		border-top 3px solid azul
		padding 0.5em
		overflow hidden

		.datos
			float right

			.comentarios
				background gris_oscuro
				border-radius 3px
				color white
				margin 0 1em 0 0
				padding 2px 5px
				text-decoration none

			.estrellita
				font-family "iconitos"
				&:before
					content "\e601"
					color #E0D561

		.votos
			float left

			.down 
			.up
				text-decoration none
				vertical-align middle

			.down
				color red
				&:before
					font-family "iconitos"
					content "\e602"
					font-size 1.5em
					vertical-align bottom

			.up
				color green	
				&:before
					font-family "iconitos"
					content "\e603"
					font-size 1.5em
					vertical-align bottom

	.descripcion
		color gris_texto
			
		.detalles
			height 160px
			margin-left 130px

			.autor
				margin 0.5em 0 2em 0

			.fecha	
				float right
				margin 0 1em 0 0 

			.tag 
				background azul
				color white
				border-radius 0.5em
				padding 0.2em 0.5em
				text-decoration none

			.titulo
				color gris_oscuro
				font-size 18px
				font-style italic
				margin 0
				padding 0.5em 0.5em 0 0 

		.imagen
			margin 0
			float left

			img
				height 160px
				vertical-align top
				width 120px

@media screen and (min-width: 768px)

	header
		.titular
			.publicar
				padding-left 2em
				position relative

				&:before
					font-size 2em
					left 0px
					position absolute
					top -10px
				
	.posts
		.post
			display inline-block
			vertical-align top
			width 48%

			&:nth-child(odd)
				margin-right 2%



		
